<header>
  <div class="search">
    <span class="icon icon--search" ontouchstart={{action 'search'}} onclick={{action 'search'}}></span>
    <span class="placeholder">Search cities</span>
  </div>
  <span class="icon icon--clock {{unless isCurrent 'dull'}}" ontouchstart={{action 'toNow'}} onclick={{action 'toNow'}}></span>
</header>
{{#each selectedCities as |city index|}}
  <div class="city" data-minutes="{{minutes-after-midnight timestamp=displayTime tz=city.tz city_id=index}}">
    {{city-info city=city time=displayTime onTimeClick=(action 'addNextHours')}}
    <div class="timeline-wrapper">
      <div class="days-wrapper city-{{index}} o{{local-offset tz=city.tz}}">
        {{#each hours as |hour index|}}
          {{#if (is-first-hour index=index)}}
            <div class="day {{if (is-current-day day=hour.time current=displayTime tz=city.tz) 'current'}} {{if (is-previous-day day=hour.time current=displayTime tz=city.tz) 'previous'}}">
              <div class="day-label">
                {{moment-format (utc-time source=hour.time) 'ddd, D MMM YYYY'}}
              </div>
            </div>
          {{/if}}
        {{/each}}
      </div>
      <div class="hours-wrapper text-small">
        {{#each hours as |hour|}}
        {{#unless (is-dst-off source=hour.time tz=city.tz) }}

          <div class="hour {{if (is-working source=hour.time tz=city.tz) 'working'}}" data-timestamp="{{hour.time}}" ontouchstart={{action 'hourClick' hour.time}} onclick={{action 'hourClick' hour.time}}>{{moment-format (local-time source=hour.time tz=city.tz) 'h'}}
          </div>
        {{/unless}}
        {{/each}}
      </div>
    </div>
  </div>
{{/each}}
