<header>
  <div>
    {{#link-to 'search' classNames='search'}}<img src="assets/images/find.svg" class="search-icon">{{/link-to}}
  </div>
  <div>
    <button {{action 'toNow'}}>Now</button>
  </div>
</header>
{{#each selected as |city|}}
  <div class="city">
    {{city-info city=city time=displayTime onTimeClick=(action 'addNextHours')}}
    <div class="hours-wrapper text-small">
      {{#each hours as |hour|}}
        <div class="hour {{if (is-working source=hour.time tz=city.tz) 'working'}}" data-timestamp="{{hour.time}}" {{action 'hourClick' hour.time}}>{{moment-format (local-time source=hour.time tz=city.tz) 'h'}}</div>
      {{/each}}
    </div>
  </div>
{{/each}}
