<form action="" class="search">
  <img src="assets/images/find.svg" class="search-icon">
  {{input input=(action 'filter') value=value}}
  <img src="assets/images/times.svg" class="close-icon" {{action 'resetSearch'}}>
</form>
<div class="search-results">
  <p class="error">{{error}}</p>
  {{#each filteredCities as |city|}}
  <div {{action 'toggleCity' city.id}}><i class="check">{{if (in-array array=selectedCities element=city.id) 'v '}}</i>{{city.name}}</div>
  {{/each}}
</div>
{{#link-to 'index'}}back to clock{{/link-to}}