<div class="city-title text-bright {{hourClass}}">{{city.name}}</div>
<div class="time text-bright" ontouchstart={{action 'onTimeClick' 24}} {{action 'onTimeClick' 24}}>{{moment-format (local-time source=time tz=city.tz) 'h:mm:ss a'}}</div>
<div class="{{hourClass}}"></div>
<div></div>
